<style>
  .card {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
  }
  #customer_details{
display: none;
}
#seller_details{
display:none;
}
#additional_details{
display:none;
}
#address{
display:none;
}

</style>

<div class="login-container" style="width: 50%; margin: 100px auto 0px auto;">
  <div class="login-form">
   

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="card">
        <b><h2 style="text-align:center;">Sign Up</h2></b>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: "form-control shadow shadow-sm", style: "background-color: charcoal; padding: 5px;" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", required: true, class: "form-control shadow shadow-sm", style: "background-color: charcoal; padding: 5px;" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true, class: "form-control shadow shadow-sm", style: "background-color: charcoal; padding: 5px;" %>
        </div>

        <div class="field">
          <%= f.label :role %><br />
          <%= f.select :role, options_for_select([['Seller', 'Seller'], ['Customer', 'Customer']]), { :multiple => false, include_blank: 'Select'}, {class: "form-select shadow shadow-sm ", required: true,id: "role" , onchange:"user_type()",onload:"user_type()"} %>
        </div>
      </div>

      <div class="card" id="additional_details">
        <h3>Additional Details</h3>
        <%= fields_for :details do |d| %>
          <div class="field">
            <%= d.label :name %><br />
            <%= d.text_field :name, autocomplete: "name", class: "form-control shadow shadow-sm", required: true, style: "background-color: charcoal; padding: 5px;" %>
          </div>

          <div class="field">
            <%= d.label :phone_no %><br />
            <%= d.number_field :phone_no, autocomplete: "phone_no", class: "form-control shadow shadow-sm", required: true, style: "background-color: charcoal; padding: 5px;" %>
          </div>
        <% end %>
      </div>

      <div class="card" id="customer_details">
        <h3>Customer Details</h3>
        <%= fields_for :customer_details do |cd| %>
          <div class="field">
            <%= cd.label :gender %><br>
            <%= cd.text_field :gender, class: "form-control shadow shadow-sm", style: "background-color: charcoal; padding: 5px;" %>
            <br>
          </div>

          <div class="field">
            <%= cd.label :age %><br>
            <%= cd.number_field :age, autocomplete: "email", class: "form-control shadow shadow-sm", style: "background-color: charcoal; padding: 5px;" %>
          </div>
        <% end %>
      </div>

      <div class="card" id="seller_details">
        <h3>Seller Details</h3>
        <%= fields_for :seller_details do |sd| %>
          <div class="field">
            <%= sd.label :organisation_name %><br>
            <%= sd.text_field :organisation_name, class: "form-control shadow shadow-sm", style: "background-color: charcoal; padding: 5px;" %>
          </div>

          <br>

          <div class="field">
            <%= sd.label :designation %><br>
            <%= sd.text_field :designation, class: "form-control shadow shadow-sm", style: "background-color: charcoal; padding: 5px;" %>
          </div>
        <% end %>
      </div>

      <div class="card" id="address">
        <h3>Address</h3>
        <%= fields_for :address do |a| %>
          <%= a.label :door_no %><br>
          <%= a.text_field :door_no, class: "form-control", required: true, style: "background-color: charcoal; padding: 5px;" %>
          <br>

          <%= a.label :street %><br>
          <%= a.text_field :street, class: "form-control", required: true, style: "background-color: charcoal; padding: 5px;" %>
          <br>

          <%= a.label :district %><br>
          <%= a.text_field :district, class: "form-control", required: true, style: "background-color: charcoal; padding: 5px;" %>
          <br>

          <%= a.label :state %><br>
          <%= a.text_field :state, class: "form-control", required: true, style: "background-color: charcoal; padding: 5px;" %>
          <br>

          <%= a.label :pin_code %><br>
          <%= a.number_field :pin_code, class: "form-control", required: true, style: "background-color: charcoal; padding: 5px;" %>
          <br>
        <% end %>
      </div>

      <div class="actions" style="display: flex; justify-content: space-between; align-items: center;">
        <%= f.submit "Sign up", style: "background-color: charcoal; padding: 5px 20px; border-radius: 5px; border: none; margin-left: 25px", class: 'btn btn-primary btn-lg ' %>
        <p class="fs-6" style="margin-right:25px ;">Already Have an Account?
          <%= link_to 'Sign In', new_user_session_path %>
        </p>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag "registration" %>
