<div class="col-lg-10" >
<%= form_with(model: @claim_resolution) do |form| %>
  <% if @claim_resolution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(claim_resolution.errors.count, "error") %> prohibited this claim_resolution from being saved:</h2>

      <ul>
        <% @claim_resolution.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :Warranty_claim_id %>
    <%= form.text_field :warranty_claim_id ,class:"form-control"%>
</div>
<div class="form-group">
     <%= form.label :status %>
     <%= form.text_field :status,class:"form-control" %>
</div>
<div class="form-group">
     <%= form.label :Description %>
     <%= form.text_field :description ,class:"form-control"%>
</div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>