<div class="container">
<div class="col-lg-25">
  <br>
  <h1 class="mb-3">Claim Resolutions</h1>

  <table class="table mt-3">
    <thead class="thead-dark">
      <tr>
        <th > S.No</th>
        <th> Customer</th>
        <th>Product Name</th>
        <th>Update On</th>
        <th>Status</th>
        <th>Problem Description</th>
        <th colspan="2">Actions</th>

      </tr>
    </thead>

    <tbody>
      <% @claim_resolutions.each do |claim_resolution| %>
        <tr class="table-active">
          <td><%= @claim_resolutions.find_index(claim_resolution)+1 %></td>
           <td><%= claim_resolution.warranty_claim.invoice.customer.name %></td>
          <td><%= claim_resolution.warranty_claim.invoice.product.name %></td>
          <td><%= claim_resolution.updated_at.to_date %></td>
          <td><%= claim_resolution.status %></td>
          <td><%= claim_resolution.warranty_claim.problem_description %></td>
          <td><%= link_to 'Show', claim_resolution, class: 'btn btn-primary' %></td>
          
          <td><%= link_to 'Edit', edit_claim_resolution_path(claim_resolution), class: 'btn btn-primary' %></td>
          
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>
</div>
