<div class="col-lg-10" >
<p id="notice"><%= notice %></p>
<h4><p>  <strong> Resolution ID<strong>  <%= @claim_resolution.id%></p></h4>
<h4><p><strong>Warranty Claim ID</strong> <%= @claim_resolution.warranty_claim_id %></p></h4>
<h4><p><strong>Status:</strong> <%= @claim_resolution.status %></p></h4>
<h4><p>  <strong> Description: </strong>  <%= @claim_resolution.description %></p></h4>
<h4><p><strong>Last Updated :</strong> <%= @claim_resolution.updated_at %></p></h4>

<% if current_user.seller?%>
<%= link_to 'Edit', edit_claim_resolution_path(@claim_resolution) %> |
<%= link_to 'Back', seller_dashboard_path %>
<%elsif current_user.customer?%>
  
 <%= link_to 'Back', cust_dashboard_path %>
<%end%>


</div>