<div class="container">
    <h1 class="mt-4">Your Sales</h1>
<div>
  <%= link_to 'Genereate Invoices', products_path, class: 'btn btn-success mt-4' %>
   </div>
     
    <% if @invoices.size != 0 %>
      <table class="table mt-3">
        <thead class="thead-dark">
          <tr >
          <th>S.No</th>
            <th>Name</th>
            <th>Category</th>
            <th>Sold Date</th>
            <th>Customer Email</th>
            <th> Warranty </th>
          </tr>
        </thead>
        <tbody>
         
  <% @invoices.each do |invoice| %>
  <% product = Product.find_by(id: invoice.product_id) %>
  <% claim = WarrantyClaim.find_by(invoice_id: invoice.id) %>
  <% resolution = invoice.claim_resolution %>
  <tr class ="table-active">
    <td><%= @invoices.find_index(invoice) + 1 %></td>
    <td><%= product.name %></td>
    <td><%= product.category %></td>
    <td><%= invoice.purchase_date %></td>
    <td><%= invoice.cust_email %></td>
    <td>
      <% if claim.present? %>
          Claimed
        <% else %>
           Not Claimed
        <% end %>
      
    </td>
     
    </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No Products Sold!</p>
    <% end %>
  
    
  </div>