<%if @seller.errors.any?%>
    <% @seller.errors.full_messages.each do|message| %>
      <%flash.now[:alert]=message%>
    <%end%>
 <%end%>
<%=form_with model: @seller do|form|%>
<div class="form-group">
    <%= form.label :Name %>
    <%= form.text_field :name ,class: "form-control" %>
</div>
<div class="form-group">
     <%= form.label :Email %>
     <%= form.email_field :email ,class: "form-control" %>
</div>
<div class="form-group">
     <%= form.label :Organisation %>
     <%= form.text_field :organisation_name ,class: "form-control" %>
</div>
<div class="form-group">
     <%= form.label :Designation %>
     <%= form.text_field :designation ,class: "form-control" %>
</div>
<%=form.submit %>
<%end%>