<div class="col-lg-10" >
<p id="notice"><%= notice %></p>

<h1>Claim Statuses</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @claim_statuses.each do |claim_status| %>
      <tr>
        <td><%= claim_status.id %></td>
        <td><%= link_to 'Show', claim_status %></td>
        <td><%= link_to 'Edit', edit_claim_status_path(claim_status) %></td>
        <td><%= link_to 'Destroy', claim_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Claim Status', new_claim_status_path %>
</div>
