<div class="col-lg-10" >
<p id="notice"><%= notice %></p>
<h4><p>  <strong> Status ID<strong>  <%= @claim_status.id%></p></h4>
<h4><p><strong>Warranty Claim ID</strong> <%= @claim_status.warranty_claim_id %></p></h4>
<h4><p><strong>Status:</strong> <%= @claim_status.status %></p></h4>
<h4><p>  <strong> Description: </strong>  <%= @claim_status.description %></p></h4>
<h4><p><strong>Last Updated :</strong> <%= @claim_status.updated_at %></p></h4>
<% if current_user.seller? %>
  <%= link_to 'Edit', edit_claim_status_path(@claim_status) %> |
<%end%>

<%= link_to 'Back', 
if current_user.seller?
     seller_dashboard_path 
elsif current_user.customer?
     cust_dashboard_path
 end  
 %>
</div>