<nav class="navbar navbar-expand-lg navbar-dark bg-dark " >
  <a class="navbar-brand" href="/">Warranty claimer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     
      <li class="nav-item">
      <div class="nav-link" >
      <%if user_signed_in?%>
       <%= link_to 'Dashboard', 
        if current_user.seller?
           seller_dashboard_path 
            elsif current_user.customer?
             cust_dashboard_path
             end     
        %>

       <%else%>
         <li class="nav-item">
          <div class="nav-link">
          <%=link_to 'Log In',new_user_session_path %> </div>
          </li>
          <li class="nav-item">
          <div class="nav-link" > <%=link_to 'Sign Up',new_user_registration_path%></div>
          </li>
       <%end%>
        </div> 
      </li>
       <%if user_signed_in?%>
      <li class="nav-item">
      <div class="nav-link" >
         
           <%= link_to 'Profile', 
           if current_user.seller?
              seller_path(current_user.userable_id)   
           elsif current_user.customer?
                customer_path(current_user.userable_id) 
            end 
               
           %>
          
        </div>
        </li>
      <%  if current_user.seller?%>
        <li class="nav-item">
         <div class="nav-link" >
          
           <%= link_to 'Products', 
              products_path  
          
               
           %>
          
        </div>
       </li>
       <%end%>

       <%  if current_user.seller?%>
        <li class="nav-item">
         <div class="nav-link" >
          
           <%= link_to 'Invoices', 
              invoices_path  
          
               
           %>
          
        </div>
       </li>
       <%end%>

       <%  if current_user.seller?%>
        <li class="nav-item">
         <div class="nav-link" >
          
           <%= link_to 'Manage Resolutions', 
              claim_resolutions_path %>
          
        </div>
       </li>
       <%end%>
       <%  if current_user.seller?%>
        <li class="nav-item">
         <div class="nav-link" >
          
           <%= link_to 'Claim History', 
              warranty_claims_path %>
          
        </div>
       </li>
       <%end%>

         <%  if current_user.customer?%>
        <li class="nav-item">
         <div class="nav-link" >
          
           <%= link_to ' Manage Claim ', 
              warranty_claims_path  
          
               
           %>
          
        </div>
       </li>
       <%end%>


      <li class="nav-item">
        <div class="nav-link" >
        
             <%= link_to 'Change Address',change_primary_address_path %>
       
         </div>
         
      </li>
      <li class="nav-item">
        <div class="nav-link" >
        
             <%= link_to 'Log Out',destroy_user_session_path, method: :delete, data: {confirm:"Are you sure? You Want to Log Out! "}%>
       
         </div>
         
      </li>
      
    
        
        <%end%>
   
    </ul>
    
  </div>
</nav>