<div class="container">
    <h1 class="mt-4">Welcome to the Customer Dashboard</h1>
  
    <h2 class="mt-4">Your Purchases</h2>
     
    <% if @invoices.any? %>
      <table class="table mt-3">
        <thead class="thead-dark">
          <tr >
            <th>S No</th>
            <th>Name</th>
            <th>Category</th>
            <th>Purchase Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
         <%i=0%>
         <% @invoices.each do |invoice| %>
  <% product = Product.find_by(id: invoice.product_id) %>
  <% claim = WarrantyClaim.find_by(invoice_id: invoice.id) %>
  <% resolution = invoice.claim_resolution %>
  <tr class ="table-active">
    <td><%= i= i + 1%></td>
    <td><%= product.name %></td>
    <td><%= product.category %></td>
    <td><%= invoice.purchase_date %></td>
    <td>
      <% if resolution.present? %>
        <% if ["Accepted", "In Progress", "Shipped"].include?(resolution.status) %>
          <%= link_to 'Track Status', claim_resolution_path(resolution), class: 'btn btn-primary' %>
        <% else %>
          <%= link_to "Claim #{resolution.status}", claim_resolution_path(resolution), class: 'btn btn-primary' %>
         <%end%>
        <% else %>
          <%= link_to 'Claim Warranty', new_warranty_claim_path(id: invoice.id), class: 'btn btn-success' ,notice: 'Please note that the shipment will be delivered to your primary address.'%>
        <% end %>

               
             
    </td>
    </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No warranty claims found.</p>
    <% end %>
  
    
  </div>
  