<div class="container">
    <h1 class="mt-4">Welcome to the Customer Dashboard</h1>
  
    <h2 class="mt-4">Your Warranty Claims</h2>
     
    <% if @warranty_claims.any? %>
      <table class="table mt-3">
        <thead class="thead-dark">
          <tr>
            <th>Claim ID</th>
            <th>Description</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
         
          <% @warranty_claims.each do |claim| %>
           <% cur_status=ClaimStatus.where(warranty_claim_id: claim.id).last %>
            <tr>
              <td><%= claim.id %></td>
              <td><%= claim.problem_description %></td>
              <td><%= cur_status.status %></td>
              <td>
                <%= link_to 'Show Description', claim_status_path(claim), class: 'btn btn-primary' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No warranty claims found.</p>
    <% end %>
  
    <%= link_to 'Register New Claim', new_warranty_claim_path, class: 'btn btn-success mt-4' %>
  </div>
  