<div class="container">
<div class="col-lg-10" >
<h1>Customers Lists </h1>
<%= link_to 'New Customer',new_customer_path %>

<table>
    <thead>
        <tr>  <th>Name </th> <th>Email</th> <th colspan ="3"> Actions</th></tr>
    <thead>
    <tbody>
        <%@customers.each do |customer| %>
       <tr>
    
         <td> <%= customer.name %> </td>
         <td> <%= customer.email %> </td>
         <td> <%= link_to 'view ',customer %> </td>
          <td> <%= link_to 'Edit', edit_customer_path(customer)  %> </td>
          <td> <%= link_to 'Delete', customer, method: :delete, data: {confirm: 'Are You Sure' } %> </td>
       </tr>
       <%end%> 
    </tbody>
</table>
</div>
</div>