<%if @warranty_claim.errors.any?%>
    <% @warranty_claim.errors.full_messages.each do|message| %>
     <p><%=message%></p>
    <%end%>
 <%end%>
<%=form_with model: @warranty_claim do|form|%>
<div class="form">
<div class=form-group>
     <%= form.label :Problem_Description%>
     <%= form.text_area  :problem_description ,class:"form-control" %>
</div>
<%=form.submit %>
</div>
<%end%>