<div class="col-lg-10">
  <h1>Warranty Claim Lists</h1>
  <%if @warranty_claims.size  != 0 %>
  <table class="table mt-3">
    <thead class="thead-dark">
      <tr>
        <th>S.No</th>
        <th>Product Name</th>
        <th>Created On</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
     <%i=0%>
      <% @warranty_claims.each do |warranty_claim| %>
        <tr class="table-active">
          <td><%= i=i+1 %></td>
          <td><%= warranty_claim.invoice.product.name %></td>
          <td><%= warranty_claim.created_at.to_date %></td>
          <td><%= warranty_claim.claim_resolution.status %></td>
          <td>
            <%= link_to 'View', warranty_claim, class: 'btn btn-primary' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%else%>
     <h3> No Claims Made !!</h3>
  <%end%>
</div>
