<div class="col-lg-10" style="background-color: rgba(0, 0, 0, 0.5); padding: 20px; border-radius: 10px; margin-top: 50px;">
  <h1 style="color: #fff; text-align: center;">New Warranty Claim</h1>
<%if @warranty_claim.errors.any?%>
    <% @warranty_claim.errors.full_messages.each do|message| %>
     <p><%=message%></p>
    <%end%>
 <%end%>
<%=form_with model: @warranty_claim do|form|%>
<div class="form">
<div class=form-group>
     <%= form.label :Problem_Description%>
     <%= form.text_area  :problem_description ,class:"form-control" %>
</div>
<%= form.hidden_field :id , value: @id %>
<%=form.submit %>
</div>
<%end%>
</div>