<div class="login-container" style="background-color: rgba(0, 0, 0, 0.5); width: 50%; margin: 100px auto 0px auto; font-size: 18px; border-radius: 10px;">
  <div class="login-form" style="margin: 20px;">
    <h2 style="color: #fff; text-align: center; padding: 20px;">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field" style="margin-bottom: 10px;">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", style: "background-color: charcoal; padding: 5px;" %>
      </div>

      <div class="field" style="margin-bottom: 10px;">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", style: "background-color: charcoal; padding: 5px;" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field" style="margin-bottom: 10px;">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", style: "background-color: charcoal; padding: 5px 20px; border-radius: 5px; border: none;", class:'btn btn-primary'  %>
      </div>

      <div class="actions d-flex pt-4 justify-content-between">
      <p class="fs-6" , style="color: #fff">Don't have an account? <b> <%= link_to 'Sign Up', new_user_registration_path, style: 'color: #fff;' %> </b> </p>
      <p class="fs-6", style="color: #fff"> Forgot Password?<b> <%= link_to 'Reset Password', new_user_password_path, style: 'color: #fff;' %></b> </p>  
       
      </div>
        
    
    <% end %>
  </div>
</div>
 <div class="justify-content-center d-flex" >
 <b><p class="fs-6", style="color:">Didn't receive confirmation instructions?  <%= link_to 'Resend Email', new_confirmation_path(resource_name)  , style:"color:" %> </b></p>
</div>


   
