<div class="container">
<div class="col-lg-10" style="background-color: rgba(0, 0, 0, 0.5); padding: 20px; border-radius: 10px; margin-top: 50px; color: #fff;">
  <p id="notice" style="color: #fff;"><%= notice %></p>

  <h4><p><strong>Door No:</strong> <%= @address.door_no %></p></h4>
  <h4><p><strong>Street:</strong> <%= @address.street %></p></h4>
  <h4><p><strong>District:</strong> <%= @address.district %></p></h4>
  <h4><p><strong>State:</strong> <%= @address.state %></p></h4>
  <h4><p><strong>Pin Code:</strong> <%= @address.pin_code %></p></h4>
  <h4><p><strong>Phone:</strong> <%= @address.phone %></p></h4>

  <%= link_to 'Edit', edit_address_path(@address), class: 'btn btn-primary', style: 'background-color: charcoal; padding: 5px 20px; border-radius: 5px; border: none; color: #fff; text-decoration: none;' %> 
  <%= link_to 'Back',
    if current_user.seller?
      seller_dashboard_path
    elsif current_user.customer?
      cust_dashboard_path
    end,
    class: 'btn btn-secondary',
    style: 'background-color: charcoal; padding: 5px 20px; border-radius: 5px; border: none; color: #fff; text-decoration: none; margin-left: 20px'
  %>
</div>
</div>

