<%if @product.errors.any?%>
    <% @product.errors.full_messages.each do|message| %>
     <p><%=message%></p>
    <%end%>
 <%end%>
<%=form_with model: @product do|form|%>
<div class="form-group">
    <%= form.label :Name %>
    <%= form.text_field :name, class:"form-control" %>
</div>
<div class="form-group">
     <%= form.label :Category %>
     <%= form.text_field :category,class:"form-control" %>
</div>
<div class="form-group">
     <%= form.label :Sold_date %>
     <%= form.date_field :sold_date , class:"form-control" %>
</div>
<%=form.submit %>
<%end%>