 <!DOCTYPE html>
<html>
  <head>
    <title>WarrantyClaimer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <%= render"shared/header"%>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<style>
body {

  background-image: url("/assets/Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


  
</style>
  <body>

   <div >
      <%= toastr_flash %>      
       <%= yield %>
      

     
    </div>
  </body>
</html>
